.card-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include laptop {
      width: 100%;
      max-width: 80%;
      grid-template-columns: repeat(2, 1fr);
      margin: 40px auto 100px auto;
      gap: 40px;
    }
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      max-width: 90%;
      display: grid;
      justify-content: center;
    }
    @include desktopXL {
      grid-template-columns: repeat(3, 1fr);
      margin: auto;
      max-width: 70%;
      display: grid;
      justify-content: center;
    }
  
    .card {
      text-align: center;
      border-radius: 15px 15px 0px 0px;
      background-color: $light-grey;
      border-radius: 15px;
      max-width: 280px;
      padding-bottom: 10px;
      margin: auto;
      margin-bottom: 25px;
      @include laptop {
        text-align: center;
        border-radius: 15px 15px 0px 0px;
        background-color: $light-grey;
        border-radius: 15px;
        max-width: 280px;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }
      @include desktop {
        max-width: 280px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
        gap:20px
      }
      @include desktopXL {
        max-width: auto;
        margin: 20px;
      }
  
      .cardText {
        height: 90px;
        padding-bottom: 20px;
      }
  
      .name {
        text-align: left;
        padding: 8px 80px 5px 20px;
        font-size: 30px;
        font-weight: 600;
        color: $white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  
      .imgCard {
        width: -webkit-fill-available;
        border-radius: 15px 15px 0px 0px;
      }
  
      .cardDetail {
        display: flex;
        font-size: 14px;
        color: $aqua;
        padding-left: 20px;
  
        .specieDetail {
          display: flex;
          justify-content: left;
          width: 120px;
        }
  
        .specie {
            @include attributes;
        }
  
        .space {
          padding-left: 5px;
          padding-right: 5px;
        }
  
        .originDetail {
          display: flex;
        }
  
        .origin {
          padding: 0px 10px 0px 10px;
          @include attributes;            
        }
  
        .imgPin {
          padding-left: 40px;
          padding-top: 3px;
          height: -webkit-fill-available;
        }
  
        .status-circle {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          display: inline-block;
          margin-right: 5px;
          border: $black;
          flex-shrink: 0;
  
          &.alive-circle {
            background-color: $light-green;
            margin-top: 2px;
            margin: 3px 10px 0px 0px;
          }
  
          &.dead-circle {
            background-color: $strong-red;
            margin: 3px 10px 0px 0px;
          }
  
          &.unknown-circle {
            background-color: $white;
            margin: 3px 10px 0px 0px;
          }
        }
      }
    }
  }
  
