body {
    background-image: url(../../../Assets/BackGround.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $dark-grey;
    position: relative;    
    font-family: 'Montserrat', sans-serif;
    @include tablet {
        background-size: contain;
    }
}
 
nav {
    background-color: $dark-classic;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    top: auto;
    width: 100%;
    @include tablet {
        position: fixed;
        top: 0;
        width: 100%;
        bottom: auto;
    }
}

a {
    color: $aqua;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    letter-spacing: 0.2px;
    @include tablet {
        padding: 20px;
    }
}

h1 {
    color: $white;
    font-size: 60px;
    font-weight: 900;
    position: relative;
    background-color: none;
    margin-top: 100px;
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 4px;
    @include tablet {
        font-size: 70px;
        padding: 10%;
    }
    @include laptop {
        font-size: 90px;
    }
}

button {
    background-color: $aqua;
    border: none;
    border-radius: 20px;
    padding: 16px 92px;
    margin-bottom: 90px;
    cursor: pointer;
    color: $white;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    
    
}

