/* Colors */

$white:rgb(255, 255, 255);
$black:rgb(0, 0, 0);
$dark-grey:rgb(37,41,47);
$dark-classic:rgb(61, 62, 69);
$light-grey:rgb(68, 68, 68);
$aqua:rgb(8,178,201);
$light-green:rgb(23 226 31);
$strong-red:rgb(254,1,0);

/* Breakpoints */

$mediaMobile-430: 430px;
$mediaTablet-768: 768px;
$mediaDesktop-1024:1024;

